<header-bar
  [saludo]="saludo"
  [theme]="theme"
  (toggleTheme)="toggleTheme()"
  (print)="print()">
</header-bar>

<main>
  <presentacion></presentacion>
  <educacion></educacion>
  <experiencia></experiencia>
  <tecnologias></tecnologias>
  <lenguajes></lenguajes>
  <softskills></softskills>

  <proyectos></proyectos>
  <certificaciones></certificaciones>

  <!-- NUEVA SECCIÓN GENÉRICA -->
  <generic-blocks></generic-blocks>

  <links-block></links-block>
  <extras-block></extras-block>
</main>

<footer-bar [year]="year"></footer-bar>
